.hero {
  padding: 3rem 0;
  background-color: var(--background-color);
  color: #fff;
}
.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero__message h2 {
  font-size: 2.5rem;
}

.hero__message p {
  font-size: 1.2rem;
}

.hero__message a {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  margin-top: 1.2rem;
  border-radius: 2px;
  background-color: #fff;
  font-weight: 600;
  color: var(--text-color);
}

.hero__image img {
  width: 100%;
  height: 100%;
}
