/* .navbar {
  background-color: gray;
} */

.navbar__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__image h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  margin-left: auto;
}

.navbar a {
  padding: 0 0 0 4rem;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar a:hover {
  font-weight: bold;
}
