*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1f69f2;
  --background-color: #1f69f2;
  --transition: all 600ms ease;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
